<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="prashant, sudeep, focus, distraction, product, entrepreneurship, tech, technology, startups, prashant sudeep, human, human behavior, behaviour, human psychology, improvement"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@sipulal"/>
    <meta name="twitter:creator" content="@<%= config.TWITTER %>"/>
    <meta name="twitter:title" content="How to improve focus?"/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image" content="https://cpoo.in/focus.jpeg"/>
    <meta property="og:url" content="https://cpoo.in/focus.html"/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Prashant Sudeep&#39;s Blog"/>
    <meta property="og:title" content="How to improve focus?"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content="https://cpoo.in/focus.jpeg"/>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/base.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!-- <script src="//load.sumome.com/" data-sumo-site-id="22c366d8a2e13b860759a814048a75e2836db468530a1d0d5d25bbff0bf30014" async="async"></script> -->
    <meta name="p:domain_verify" content=""/>
  </head>
