<ul>
  <li><a href="human-behaviour.html">Human Behaviour</a>
  <li><a href="accepted.html">Being Accepted</a>
  <li><a href="https://twitter.com/sipulal/status/1250507845696536576" target="_blank">Hiring</a></li>
  <li><a href="https://twitter.com/sipulal/status/1249054768674172928" target="_blank">Jobs & Internship</a></li>
  <li><a href="sleep.html">Sleep</a>
  <li><a href="startups-vs-mnc.html">Startups vs MNCs</a>
  <!-- <li><a href="/essays">more...</a> -->
</ul>
